*{
    box-sizing: border-box;
}



.carusels{
    position: relative;
}


.carusels__imge{
    width: 1230px;
    height: 380px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: all 0.5s linear;
    transform: translateX(0);
}

.mg__wrapper{
    overflow: hidden; 
}

.btn1{
    position: absolute;
    top: 45%;
    right: -50px;
}
.btn2{
    position: absolute;
    top: 45%;
    left: -50px;
}









*{
    box-sizing: border-box;
}



.caruselt{
    position: relative;
}


.caruselt__imge{
    width: 1230px;
    height: 240px;  
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: all 0.5s linear;
    transform: translateX(0);
}

.mg__wrappers{
    overflow: hidden; 
}

.btns1{
    position: absolute;
    top: 45%;
    right: -50px;
}
.btns2{
    position: absolute;
    top: 45%;
    left: -50px;
}





*{
    box-sizing: border-box;
}



.caruselp{
    position: relative;
}


.caruselp__imge{
    width: 1230px;
    height: 240px;  
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: all 0.5s linear;
    transform: translateX(0);
}

.mg__wrapperp{
    overflow: hidden; 
}

.btnp1{
    position: absolute;
    top: 45%;
    right: -50px;
}
.btnp2{
    position: absolute;
    top: 45%;
    left: -50px;
}
